<div class="card">
	<div class="card-header" cdkDragHandle>
		<h5 class="card-text">{{ list.name }}</h5>
	</div>
	<div class="card-body">
		<div
			cdkDropList
			[cdkDropListData]="list"
			(cdkDropListDropped)="moveTask($event)"
			class="py-2"
		>
			<app-board-list-task
				*ngFor="let task of list.items"
				[task]="task"
				[teamMembers]="teamMembers"
				(assignUserEvent)="assignUser($event)"
			></app-board-list-task>
		</div>
		<div *ngIf="showAddForm" class="card mb-2">
			<div class="card-body">
				<h6 class="card-title">Create new task</h6>
				<div class="form-group">
					<label for="new-task-title">Title</label>
					<input
						type="text"
						id="new-task-title"
						class="form-control"
						[(ngModel)]="newTaskInput.title"
					/>
				</div>
				<div class="form-group">
					<label for="new-task-title">Description</label>
					<textarea
						id="new-task-description"
						class="form-control"
						[(ngModel)]="newTaskInput.description"
					></textarea>
				</div>
				<div class="form-inline text-right">
					<button
						type="button"
						class="btn btn-secondary mr-2"
						(click)="toggleShowAddForm(false)"
					>
						Cancel
					</button>
					<button type="button" class="btn btn-primary" (click)="addTask()">
						<fa-icon [icon]="faPlus"></fa-icon>
						Add
					</button>
				</div>
			</div>
		</div>
		<button
			*ngIf="!showAddForm"
			class="btn btn-secondary btn-block"
			(click)="toggleShowAddForm(true)"
		>
			<fa-icon [icon]="faPlus"></fa-icon>
		</button>
	</div>
</div>
