<div class="row">
	<div class="d-flex col-12 justify-content-between">
		<h3>{{ (board$ | async)?.board?.name }}</h3>
		<div ngbDropdown container="body">
			<button class="btn btn-outline-light" ngbDropdownToggle>
				Board Members
			</button>
			<app-member-list
				ngbDropdownMenu
				class="py-0"
				[ngStyle]="{ 'min-width': '20vw' }"
				[list]="(board$ | async)?.board?.members ?? []"
				(newMemberEvent)="addMember($event)"
				(removeMemberEvent)="removeMember($event)"
			></app-member-list>
		</div>
	</div>
</div>
<div
	cdkDropList
	cdkDropListOrientation="horizontal"
	cdkDropListLockAxis="x"
	(cdkDropListDropped)="moveList($event)"
	class="row horizontal-scrollable mt-2"
	cdkDropListGroup
>
	<div *ngFor="let list of lists" class="col-3" cdkDrag [cdkDragData]="list">
		<div class="col-3 example-custom-placeholder" *cdkDragPlaceholder></div>

		<app-board-list
			[list]="list"
			[teamMembers]="boardMembers ?? []"
			(addTaskEvent)="newTask($event)"
			(assignUserEvent)="assignUser($event)"
			(moveTaskEvent)="moveTask($event)"
		></app-board-list>
	</div>
	<div class="col-3">
		<div *ngIf="showAddForm" class="card mb-2">
			<div class="card-body">
				<h6 class="card-title">Create new list</h6>
				<div class="form-group">
					<label for="new-task-title">Name</label>
					<input
						type="text"
						id="new-task-title"
						class="form-control"
						[(ngModel)]="newListInput.name"
					/>
				</div>
				<div class="form-inline text-right">
					<button
						type="button"
						class="btn btn-secondary mr-2"
						(click)="toggleShowAddForm(false)"
					>
						Cancel
					</button>
					<button type="button" class="btn btn-primary" (click)="newList()">
						<fa-icon [icon]="faPlus"></fa-icon>
						Add
					</button>
				</div>
			</div>
		</div>
		<button
			*ngIf="!showAddForm"
			class="btn btn-light btn-block"
			(click)="toggleShowAddForm(true)"
		>
			<fa-icon [icon]="faPlus"></fa-icon>
		</button>
	</div>
</div>
