<a class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <img [src]="item.picture" class="mr-3 profile-picture">
            <h5 class="mb-0">{{ item.username }}</h5>
        </div>
        <div>
            <a [routerLink]="" class="p-1 text-danger" (click)="removeMember()">
                <fa-icon [icon]="faUserMinus"></fa-icon>
            </a>
        </div>
    </div>
    
</a>