<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ title }}s</h4>
        <div class="list-group">
            <app-home-list-item *ngFor="let item of list" [item]="item" [url]="getUrl(item._id)" [showMemberCount]="showMemberCount"></app-home-list-item>
        </div>
        <div class="card" *ngIf="showAddForm">
            <div class="card-body">
                <h5 class="card-title">Create new {{title}}</h5>
                <div class="form-group">
                    <label for="new-{{title}}-item">Name</label>
                    <input type="text" class="form-control" id="new-{{title}}-item" [(ngModel)]="newItemName">
                </div>
                <div class="form-inline text-right">
                    <button type="button" class="btn btn-secondary mr-2" (click)="toggleShowAddForm(false)">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="addItem()"><fa-icon class="mr-2" [icon]="faPlus"></fa-icon>Create</button>
                </div>
            </div>
        </div>
        <button *ngIf="!showAddForm" type="button" class="btn btn-secondary mt-3" (click)="toggleShowAddForm(true)"><fa-icon class="mr-2" [icon]="faPlus"></fa-icon>
            Add {{ title }}
        </button>
    </div>
</div>