<div class="card mb-2" (click)="toggleShowDetails(true)">
	<div class="card-body">
		<h6 class="card-title">{{ task.title }}</h6>
		<p *ngIf="showDetails">{{ task.description }}</p>
		<div *ngIf="!showDetails" class="d-flex w-100 align-items-center">
			<img
				*ngIf="task.assigned?.picture"
				[src]="task.assigned?.picture ?? ''"
				class="mr-2 profile-picture"
			/>
			<p class="mb-0">{{ task.assigned?.username ?? 'Unassigned task' }}</p>
		</div>
		<div *ngIf="showDetails" class="form-group">
			<label for="assign-user-select">Assign member to task</label>
			<select
				class="form-control"
				id="assign-user-select"
				[(ngModel)]="assignedUser"
				(ngModelChange)="assignUser()"
			>
				<option value="">None</option>
				<option
					*ngFor="let member of teamMembers"
					[ngValue]="member"
					[selected]="isAssigned(member._id)"
				>
					{{ member.username }}
				</option>
			</select>
		</div>
	</div>
</div>
